.google-map-section {
  width: 100%;
  margin-top: 0;
}

.google-map-container {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.google-map-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

@media (max-width: 768px) {
  .google-map-container {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .google-map-container {
    height: 300px;
  }
}
